# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
        pr = pull --rebase
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        hist = log --all --graph --pretty
        wsadd = "!sh -c 'git diff -- \"$@\" | git apply --cached --whitespace=fix;\
        git checkout -- ${1-.} \"$@\"' -"
        di = diff
        co = checkout
        aa = add --all
        am = commit --amend
        ap = add --patch
        ci = commit -v
        co = checkout
        create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
        delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' - 
        merge-branch = !git checkout master && git merge @{-1} --ff-only
        rebase-origin = !git fetch origin && git rebase origin/master
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[mergetool "diffmerge"]
        cmd = "/Applications/DiffMerge.app/Contents/MacOS/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
        trustExitCode = true
# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
        remote = origin
        merge = refs/heads/master
[format]
        pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[pull]
        rebase = true